<%= form_for([:admin, @rsync_acl_request], server_id: @server) do |f| %>
  <% if @rsync_acl_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_rsync_acl.errors.count, "error") %> prohibited this rsync acl request from being saved:</h2>

      <ul>
      <% @rsync_acl_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :server_id, value: @server.id %>
  <div class="field">
    <%= f.label :host %><br>
    <%= f.text_field :host %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
