<%= render partial: 'form' %>
<h3>Rsync ACL Entries</h3>
<ul>
<% @server.rsync_acls.each do |acl| %>
  <li><%= acl.host %> (<%= acl.updated_at %>)</li>
<% end %>
</ul>
<%= link_to "Add new ACL entry", new_admin_group_server_rsync_acl_path(@group,@server) %>
<% unless @server.public_notes.blank? %>
<h3>Public Notes</h3>
<pre>
<%= @server.public_notes %>
</pre>
<% end %>
<h3>Additional information</h3>
<dl>
  <dt>Geo Location</dt>
  <dd><%= @server.country.name %>, <%= @server.region.name %> (<%= @server.lat %>/<%= @server.lng %>)
  <% if @server.lat %>
  <a href="http://maps.google.com/maps/api/staticmap?size=640x640&amp;maptype=terrain&amp;visible&amp;sensor=false&amp;zoom=10&amp;markers=size:mid|color:red|<%= @server.lat %>,<%= @server.lng %>">
  <img src="http://maps.google.com/maps/api/staticmap?size=50x50&amp;maptype=terrain&amp;visible&amp;sensor=false&amp;markers=size:mid|color:red|<%= @server.lat %>,<%= @server.lng %>"/>
  </a>
  <% end %>
  </dd>
  <dt>Prefix</dt>
  <dd><%= @server.prefix %></dd>
  <dt>ASN</dt>
  <dd><%= @server.asn %></dd>
  <% unless @server.last_scan.blank? %>
  <dt>Last full scan</dt>
  <dd><%= @server.last_scan %></dd>
  <% end %>
  <% unless @server.other_countries.blank? %>
  <dt>Other countries</dt>
  <dd>
    <%=
      Country.where(code: @server.other_countries.split(/[, ]/)).select(:name).map(&:name).join(', ')
    %>
  </dd>
  <% end %>
</dl>
<h3>Admin Comment</h3>
<pre>
<%= @server.comment %>
</pre>
