<h2>Hello <%= current_user.login %></h2>
<p>
   Please note that anything you do here will have a direct influence on the mirror database. There is currently no way-back machine in place.
 </p>
<p>
  Your login is currently connected to the iChain database - please excuse that your user data is not editable here.
</p>
<% if @groups.empty? %>
  <p>You are not part of any groups.</p>
<% else %>
  <p>The mirrors are listed by groups, so if you are in more than one admin group, you might see more than one mirror you can edit.</p>
  <% @groups.each do |group| %>
    <h3><%= group.name %></h3>
    <% if group.servers.empty? %>
      <p>Your group does not have any servers.</p>
    <% else %>
      <ul>
        <% group.servers.each do |srv| %>
          <li>
          <%= srv.identifier %> (
            <%= link_to 'Edit', admin_group_server_path(group, srv) %> |
            <%= link_to 'Delete', admin_group_server_path(group, srv), method: :delete, data: { confirm: 'Are you sure?' } %>
          )
          </li>
        <% end %>
      </ul>
    <% end %>
    <p><%= link_to "Add new mirror", new_admin_group_server_path(group) %></p>
  <% end %>
<% end %>
<% unless @group_requests.empty? %>
  <h3>Pending Group Requests</h3>
  <ul>
  <% @group_requests.each do |req| %>
    <li>
      <%= req.name %> ( <%= link_to 'Delete', admin_group_request_path(req), method: :delete, data: { confirm: 'Are you sure?' } %> )
    </li>
  <% end %>
  </ul>
<% end %>
<p><%= link_to "Request new group", new_admin_group_request_path %></p>