<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>
<h2>Members</h2>
<ul>
  <% @group.users.each do |user| %>
  <li><%= mail_to user.email, user.login %></li>
  <% end %>
</ul>

<h2>Servers</h2>
<ul>
  <% @group.servers.each do |srv| %>
  <li><%= link_to srv.identifier, admin_group_server_path(@group, srv) %></li>
  <% end %>
</ul>
<%= link_to 'Back', admin_groups_path %>
