<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>openSUSE Download Mirrors - Overview</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="description" content="openSUSE Download Mirrors - Overview" />
    <meta name="keywords" content="openSUSE download metalink redirector mirror mirrors" />
    <meta name="author" content="openSUSE project" />
    <meta name="robots" content="index, nofollow" />
    <%= stylesheet_link_tag    "application" %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">openSUSE Mirrors</a>
          </div><!-- div.navbar-header -->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="mailto:admin@opensuse.org">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right ">
              <% if user_signed_in? %>
              <li>
              <%= link_to "Currently logged in as #{current_user.login}", admin_root_path %> 
              </li>
              <li>
              <%= link_to "Administer your servers", admin_root_path %> 
              </li>
              <li>
                <%= link_to "Sign out", destroy_user_ichain_session_path, :method => :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "Sign in", new_user_ichain_session_path %>
              </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Distribution</li>
              <% %w{12.1 12.2 12.3 Factory}.each do |distro| -%>
                <li><%= link_to distro, list_by_distro_path(distro: distro) %></li>
              <% end -%>
              <li class="nav-header">Region</li>
              <% @regions.each do |region| -%>
                <li><a href="#<%= region.code %>"><%= region.name %></a></li>
              <% end -%>
              <li class="nav-header">Markers</li>
              <% @all_markers.each do |marker| -%>
                <li><%= link_to marker.subtree_name, list_by_marker_path(marker) %></li>
              <% end -%>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9">
          <% flash.each do |key, value| -%>
            <div class="alert alert-block alert-<%= key %>">
              <!-- <a class="close">×</a> -->
              <%= value %>
            </div>
          <% end -%>
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
      <hr />
      <footer>
        <p class="pull-right">Generated at <%= Time.now.utc.to_s %> &mdash; powered by <%= link_to 'MirrorBrain', 'http://mirrorbrain.org/' -%>, <%= link_to "Ruby on Rails", 'http://www.rubyonrails.org/' -%> and <%= link_to "Twitter Bootstrap", 'http://twitter.github.com/bootstrap/' -%></p>
        <p>&copy; openSUSE 2011</p>
      </footer>
    </div><!--/.fluid-container-->
    <%= javascript_include_tag "application" %>
  </body>
</html>
